* {
  margin-top: 0;
}

html {
  --background-dark: #222831;
  --background-lighter: #393e46;
  --colour-bright: #f96d00;
  --colour-light: #f2f2f2;
}

body {
  color: var(--colour-bright);
  background-color: var(--background-lighter);
}
.body-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
}
.body-container > div {
  padding: 30px;
  min-height: 50vh;
  max-height: 70vh;
  margin-top: 15vh;
  justify-items: center;
}

/* Narrow /mobile */
@media (max-width: 1500px) {
  .body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .body-container > div {
    margin-top: 12vh;
  }
  .bio-container > p {
    max-width: 700px;
  }
  .projects-container {
    max-width: 1300px;
    margin-top: -10vh;
  }
}
/* Full screen */
@media (min-width: 1580px) {
  .body-container > div {
    margin-right: 15px;
    margin-left: 15px;
  }
}

/* ------ Header ----- */
.header-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7vh;
  width: 100%;
  background-color: var(--background-dark);
  z-index: 1;
}
.header-bar > h1 {
  align-self: center;
  padding-top: 1vh;
  padding-left: 1vh;
}
.header-list {
  list-style: none;
  align-self: center;
  display: flex;
  padding-top: 2vh;
  margin-right: 3%;
}

.header-icon {
  color: var(--colour-bright);
  padding-left: 2em;
  height: 5vh;
  width: 5vh;
}

/* ------ Projects ------ */
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 2;
}
.projects-container > h2 {
  width: 100%;
  text-align: center;
  margin-top: -6vh;
}
.projects-container > div {
  height: 300px;
  width: 330px;
  box-shadow: 8px 8px 10px var(--background-dark);
  color: var(--colour-light);
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.projects-container > div > p {
  font-size: 1em;
  align-self: center;
  text-align: center;
}
.projects-container > div > h4 {
  align-self: center;
  margin-bottom: 1px;
}
/* Contains picture AND links Div */
.project-embedded-div {
  display: flex;
  flex-direction: row;
  height: 155px;
}
/* Projects picture */
.project-embedded-div > img {
  border-radius: 150px;
  height: 150px;
  width: 150px;
  opacity: 0.6;
  margin-left: 1vh;
  border: 7px solid;
  border-color: var(--background-dark);
}
/* Contains the project links */
.project-embedded-div > div {
  margin-left: 4vh;
  margin-top: 2.7vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  height: 150px;
}
/* Description of project */
.projects-container > div > p {
  margin: 10px;
}
.project-embedded-link {
  padding: 0.5vh;
  height: 5vh;
  width: 5vh;
  color: var(--colour-bright);
}

/* -------- Bio -------- */
.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 40%;
  text-align: center;
}
.bio-container > h2 {
  margin-top: -6vh;
}
.bio-container > p {
  color: var(--colour-light);
  font-size: 1.2em;
  margin-left: -10px;
  margin-right: -10px;
}
.bio-container > div > img {
  border-radius: 280px;
  height: 280px;
  width: 280px;
  opacity: 0.9;
  border: 7px solid;
  border-color: var(--background-dark);
}
aside {
  width: 300px;
  /* box-shadow: 8px 8px 10px var(--background-dark); */
  height: 150px;
}
aside > img,
.logo {
  padding: 0.5vh;
  height: 5vh;
  width: 5vh;
}
