* {
  margin-top: 0;
  font-family: Calibri, sans-serif;
}
html {
  --background-dark: #222831;
  --background-lighter: #393e46;
  --colour-bright: #f96d00;
  --colour-light: #f2f2f2;
}
body {
  color: var(--colour-bright);
  background-color: var(--background-lighter);
}
.body-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
}
.body-container > div {
  padding: 30px;
  min-height: 70vh;
  max-height: 85vh;
  justify-items: center;
}

/* ------ Header ----- */
.header-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7vh;
  width: 100%;
  background-color: var(--background-dark);
  z-index: 1;
}
.header-bar > h1 {
  align-self: center;
  padding-top: 1.5vh;
  padding-left: 1vh;
}
.header-list {
  list-style: none;
  align-self: center;
  display: flex;
  padding-top: 2vh;
  margin-right: 3%;
}
.header-icon {
  color: var(--colour-bright);
  padding-left: 2em;
  height: 5vh;
  width: 5vh;
}

/* ------ Projects ------ */
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 2;
}
.projects-container > h2 {
  width: 100%;
  text-align: center;
}
.projects-container > div {
  height: 300px;
  width: 330px;
  box-shadow: 8px 8px 12px 3px var(--background-dark);
  border-radius: 10px;
  color: var(--colour-light);
  margin: 5px;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.projects-container > div > p {
  font-size: 1em;
  align-self: center;
  text-align: center;
}
.projects-container > div > h4 {
  align-self: center;
  margin-bottom: 1px;
}
/* Contains picture AND links Div */
.project-embedded-div {
  display: flex;
  flex-direction: row;
  height: 155px;
}
/* Projects picture */
.project-embedded-div > img {
  border-radius: 150px;
  height: 150px;
  width: 150px;
  opacity: 0.6;
  margin-left: 1vh;
  border: 7px solid;
  border-color: var(--background-dark);
}
/* Contains the project links */
.project-embedded-div > div {
  height: 150px;
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr, 1fr;
  align-items: center;
  justify-items: center;
}
/* Description of project */
.projects-container > div > p {
  margin: 10px;
}
.project-embedded-link {
  padding: 0.5vh;
  height: 5vh;
  width: 5vh;
  color: var(--colour-bright);
}

/* -------- Bio -------- */
.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 40%;
  text-align: center;
}

.bio-container > p {
  color: var(--colour-light);
  font-size: 1.2em;
  margin-top: 3vh;
  margin-left: -10px;
  margin-right: -10px;
}
.bio-container > div > img {
  border-radius: 280px;
  height: 280px;
  width: 280px;
  opacity: 0.9;
  border: 7px solid;
  margin-top: 2vh;
  border-color: var(--background-dark);
}
aside {
  width: 300px;
  height: 150px;
}
aside > img,
.bio-logo {
  padding: 0.5vh;
  height: 5vh;
  width: 5vh;
}
.bio-logo {
  color: #61dbfb;
}

/* ---------Media---------- */
/* Narrow */
@media (max-width: 1620px) {
  .body-container {
    display: inline-flex;
    flex-direction: column;
  }
  .bio-container {
    height: 100vh;
    margin-top: 10vh;
  }
  .bio-container > p {
    max-width: 700px;
  }
  .projects-container {
    max-width: 1300px;
  }
}
/* Narrow Mobile  */
@media (max-width: 500px) or (max-height: 500px) {
  .body-container {
    display: inline-flex;
    flex-direction: column;
  }
  .body-container > div {
    min-height: 80vh;
  }
  .bio-container > p {
    font-size: 1em;
  }
  .header-bar > h1 {
    font-size: 1.5em;
  }
  .header-icon {
    color: var(--colour-bright);
    padding-left: 1em;
    height: 3vh;
    width: 3vh;
  }
}
/* Full screen */
@media (min-width: 1620px) {
  .body-container > div {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10vh;
  }
}
