* {
  margin-top: 0;
}

body {
  color: rgb(229, 219, 255);
  background-color: rgb(146, 146, 146);
}

.body-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: rgb(146, 146, 146);
  width: 100%;
}

.body-container > div {
  padding: 50px;
  flex-basis: 40%;
  background-color: rgb(104, 103, 103);
  min-height: 50vh;
  max-height: 70vh;
  margin-top: 10vh;
}

@media (max-width: 1200px) {
  .body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(146, 146, 146);
    width: 100%;
  }
}

/* ------ Header ----- */

.header-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 8vh;
  width: 100%;
  background-color: rgb(101, 84, 126);
  z-index: 1;
}

.header-bar > h1 {
  flex-basis: 78%;
  margin-left: 2%;
}

.header-bar > h3 {
  margin-right: 5%;
}

/* ------ Projects ------ */
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-container > div {
  min-height: 200px;
  min-width: 200px;
  background-color: rgba(179, 165, 200, 0.333);
  margin: 5px;
  margin-bottom: 20px;
}

/* -------- Bio -------- */
